body{
    margin: 0;
    padding: 0;
}

/*Controla a div dos três jogos */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;        
 
}


/*Controla a div de cada jogo específico   */
.jogo{
    width: 402px;
    height: 500px;
    border: 1px solid black;
    
}

/*Controla as imagens dos jogos*/
.imagem-jogo{
    width: 400px;
    height: 250px;
    position: static;
 
}

/*Controla o parágrafo com nome dos jogos */
.nome-jogo{
    text-align: center;
    font-size: 18px;
}

.descricao{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}


.preco{ 
    margin-top: auto;
    font-size: 18px;
    text-align: center;
    font-size: 30px; 
    font-weight: bold;
}

