@import url('https://fonts.googleapis.com/css2?family=Irish+Grover');
body{
    margin: 0;
    background-image: url("background.png");
    background-color: #000;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    position: relative;
}

.preco button{
    border: 1px solid #ff4c4c;
    border-radius: 5px;
    height: 30px;
}

.preco button:hover{
    cursor: pointer;
    background-color: #ff4c4c;
    filter: brightness(0.8);
}

.carrossel{
    padding: 30px;
    text-align: center;
    align-items: center;
    width: 100%;
}

/* .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */
.container{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap


}

.titulo{
    color: cornsilk;
    font-size: 18px;
    font-family: 'Irish Grover', cursive;
    text-align: center;
}

.naruto{
    font-size: 15px;
}

.preco{
    justify-content: space-around;
    text-align: center;
    height: 25px;
}

.back{
    background-color: white;
    border-radius: 5%;
    display: block;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 500px;
    margin: 5px;
}

.back img{
    margin-top: 20px;
}

.banner{
    position: fixed;
    margin-top: 100px;
    top: 50px;
    margin-left: 20px;
}

.banner2{
    position: fixed;
    margin-top: 100px;
    top: 50px;
    right: 20px;
}

.carousel-indicators{
    width: auto;
    height: auto;
}